header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--navigator-header-color);
    -webkit-box-shadow: var(--header-shadow);
    -moz-box-shadow: var(--header-shadow);
    box-shadow: var(--header-shadow);
    z-index: 201;
    position: sticky;
}
header>a{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-piece, .left-piece {
    display: none;
    width: 200px;
    margin: 0 10px;
    /*display: flex;*/
    align-items: center;
}

.left-piece {
    justify-content: space-between;
}
.right-piece{
    justify-content: flex-end;
}
header > div > a {
    color: var(--text-color);
    text-decoration: none;
    font-size: x-large;
    border-bottom: 1px solid transparent;
    transition: all 200ms ease-out;
    margin: 10px;
}

header > div > a:hover {
    border-bottom: var(--border-color);
}

.catalog {
    height: 30px;
}

.ShopName {
    height: 60px;
}
.cart{
    text-decoration: none;
    color: var(--text-color);
}
.countIndicator{
    position: absolute;
    font-size: small;
    top: 5px;
    right: 2px;
    margin: 0;
}
