.navigator{
    position: fixed;
    bottom: 0;
    background-color: var(--navigator-header-color);
    width: 100%;
    height: 50px;
}
.navigator>div{
    display: flex;
    height: 50px;
    margin: 0 15px;
    align-items: center;
    justify-content: space-between;
}
.navigator>div>a{
    height: 50px;
    align-items: center;
    display: flex;
}

.NavCart{
    height: 35px;
}
.NavLogin{
    height: 35px;
}
.NavCatalog{
    height: 35px;
}
.NavHome{
    height: 35px;
}
.logout{
    display: flex;
    justify-content: center;
}
