body, html{
    margin: 0;
    padding: 0;
    width: 100dvw;
    min-height: 100vh;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
}
body{
    background-color: var(--background-color);
}
