.mainContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 80px;
}
.ProductPoster{
    width: 98vw;
}
.ProductName{
    font-size: x-large;
}
.ProductDescription{
    font-size: large;
}

.controlsBtns{
    display: flex;

}
.inCartCount{
    margin: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}
.minusBtn, .plusBtn{
    width: 15vw;
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: x-large;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    justify-content: center;
    pointer-events: all;
    transition: background-color 300ms ease-out;
}
.addToCartBtn{
    display: flex;
    padding: 1vh 1vw;
    width: fit-content;
    margin-top: 10px;
    font-size: large;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    justify-content: center;
}
.untouchable{
    color: grey;
    border: 1px solid gray;
    pointer-events: none;
}

.plusBtn:hover{
    background-color: aquamarine;
}
.minusBtn:hover{
    background-color: indianred;
}

